body {
    padding: 0;
    margin: 0;
}


/* navbar */
.navbar-dark .navbar-toggler {
    color: rgba(236, 30, 30, 0.5);
    border-color: rgba(0, 238, 32, 0.1)
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.subsBlok {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.subsBlok h4 {
    background-color: rgba(8, 129, 18, 0.856);
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

.subsBlok .form-inline {
    background-color: rgba(8, 129, 18, 0.856);
    height: 9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 10px;
}

.subsBlok .form-inline .form-control {
    display: block;
    width: 35%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1rem .75rem;
    font-size: 1.2rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.subsBlok .form-inline .btn-outline-success {
    color: white;
    background-color: black;
    width: 7rem;
    font-size: medium;
    font-weight: bold;
    padding: 8px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    background-color: transparent;
    border: none;
    font-size: medium;
}

.visi-misi {
    background-color: green;
    justify-content: center;
}

.card {
    background-color: transparent;
    border: none;
}

.judul {
    font-size: 40px;
    margin: 3px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.kotak {
    padding: .25rem;
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
    margin: 10px;
    font-size: medium;
}

a {
    text-decoration: none;
    color: white;
}

.col-lg {
    margin-top: 30px;
}

input {
    margin: 10px;
}